<!---ORGANISATION-->






  
<section class="banner-area banner-area2 menu-bg text-center">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1><i>Welcome Back To Our App</i></h1>
                <h2>list Of Our Organizations </h2>
            </div>
        </div>
    </div>
  </section>
  
  
  
  <!-- <section class="main-section" >
    <div class="food-area section-padding">
    <div class="container py-5">
      <div class="row justify-content-center align-items-center">
        
        <div class="col-lg-8 col-md-4">
          <div class="login-wrapper p-5 rounded shadow">
           
            <h3 class="mb-30 titre_color justify-content-center align-items-center text-center">Check Organisation</h3>
            <div class="container-fluid">
                <div class="row">
                  <div class="col-md-4" *ngFor="let employee of employees | orderBy: key: reverse | paginate: {itemsPerPage:3,currentPage:p};">
                    <div class="card">
                      <div class="card-body">
                        <img style="width: 100%;height: 100%;object-fit: cover;border-radius: 7px;" src="{{ employee.image }}"
                                                      class="img-fluid" alt="slider-listing">
                        <h5 class="card-title" (click)="sort('name') "> &nbsp;{{employee.nom}}</h5>
                        <p class="card-text">{{employee.adresse}}</p>
                        <p class="card-text">{{employee.description}}</p>
                
                        <p class="card-text">{{employee.typeorganisation}}</p>
                        
                         </div>
                     
                    </div>
                   
                  </div>
                </div>
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
              </div>
          
           
  <style>
    .enlarge-title {
    font-size: 20px; /* Adjust the font size to your preference */
  }
  
  .title_color {
    color: #ff0000; /* Replace with your desired color */
  }
  .titre_color {
    color: #454141; /* Replace with your desired color */
  }
  .text-center {
    text-align: center;
  }
  
  .justify-content-center {
    justify-content: center;
  }
  
  .align-items-center {
    align-items: center;
  }
  </style>          
           
          </div>
        </div>
      </div>
    </div>
    </div>
  </section> -->
  <section class="food-area section-padding">
    <div class="container py-5">
      <div class="row">
        <div class="col-md-4" *ngFor="let employee of employees | orderBy: key: reverse | paginate: {itemsPerPage: 3, currentPage: p}">
          <div class="single-food mt-5">
            <div class="food-img">
              <img [src]="employee.image" class="img-fluid" alt="Employee Image">
            </div>
            <div class="food-content">
              <div class="d-flex justify-content-between">
                <h5>{{ employee.nom }}</h5>
                <span class="style-change">{{ employee.price }}</span>
              </div>
              <p class="pt-3">{{ employee.description }}</p>
              
            </div>
            
          </div>
          <div class="star w-50 rating-star">
            <ngx-star-rating [id]="'rating2'"></ngx-star-rating>
        </div>
          
        </div>
       
      </div>
      <pagination-controls (pageChange)="p = $event"></pagination-controls>
    </div>
  </section>
  