
<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <div class="mb-md-5 mt-md-4 pb-5">
  
                <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
                <p class="text-white-50 mb-5">Please create your account</p>
  
                
                <form
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
              >
                <div class="form-group">
                  <label for="username">Username</label>
                  <input
                    type="text"
                    class="form-control"
                    name="username"
                    [(ngModel)]="form.username"
                    required
                    minlength="3"
                    maxlength="20"
                    #username="ngModel"
                  />
                  <div class="alert-danger" *ngIf="username.errors && f.submitted">
                    <div *ngIf="username.errors['required']">Username is required</div>
                    <div *ngIf="username.errors['minlength']">
                      Username must be at least 3 characters
                    </div>
                    <div *ngIf="username.errors['maxlength']">
                      Username must be at most 20 characters
                    </div>
                  </div>
                </div>
                <!----email-->
                <div class="form-group">
                  <label for="email">Email</label>
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    [(ngModel)]="form.email"
                    required
                    email
                    #email="ngModel"
                  />
                  <div class="alert-danger" *ngIf="email.errors && f.submitted">
                    <div *ngIf="email.errors['required']">Email is required</div>
                    <div *ngIf="email.errors['email']">
                      Email must be a valid email address
                    </div>
                  </div>
                </div>
                <!----PASSWORD-->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                      type="password" aria-label="op"
                      class="form-control"
                      name="password"
                      [(ngModel)]="form.password"
                      required
                      minlength="6"
                      #password="ngModel"
                    />
                    <div class="alert-danger" *ngIf="password.errors && f.submitted">
                      <div *ngIf="password.errors['required']">Password is required</div>
                      <div *ngIf="password.errors['minlength']">
                        Password must be at least 6 characters
                      </div>
                    </div>
                  </div>
                <!---Nom-->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input
                      type="text"
                      class="form-control"
                      name="name"
                      [(ngModel)]="form.name"
                      required
                      
                      #name="ngModel"
                    />
                    <div class="alert-danger" *ngIf="name.errors && f.submitted">
                      <div *ngIf="name.errors['required']">Name is required</div>
                      <div *ngIf="name.errors['name']">
                       verifier name
                      </div>
                    </div>
                  </div>
                  <!----Prenom-->
                  <div class="form-group">
                    <label for="prenom">Prenom</label>
                    <input
                      type="text"
                      class="form-control"
                      name="prenom"
                      [(ngModel)]="form.prenom"
                      required
                      prenom
                      #prenom="ngModel"
                    />
                    <div class="alert-danger" *ngIf="prenom.errors && f.submitted">
                      <div *ngIf="prenom.errors['required']">Prenom is required</div>
                      <div *ngIf="prenom.errors['email']">
                        verifier prenom
                      </div>
                    </div>
                  </div>
                  <!---Adresse-->
                  <div class="form-group">
                    <label for="address">Adress</label>
                    <input
                      type="text"
                      class="form-control"
                      name="address"
                      [(ngModel)]="form.address"
                      required
                      address
                      #address="ngModel"
                    />
                    <div class="alert-danger" *ngIf="address.errors && f.submitted">
                      <div *ngIf="address.errors['required']">address is required</div>
                      <div *ngIf="address.errors['address']">
                        address must be a valid  address
                      </div>
                    </div>
                  </div>

                  <!----tel-->
                        <!---Adresse-->
                        <div class="form-group">
                            <label for="tel">tel</label>
                            <input
                              type="text"
                              class="form-control"
                              name="tel"
                              [(ngModel)]="form.tel"
                              required
                              tel
                              #tel="ngModel"
                            />
                            <div class="alert-danger" *ngIf="tel.errors && f.submitted">
                              <div *ngIf="tel.errors['required']">tel is required</div>
                              <div *ngIf="tel.errors['tel']">
                                tel must be a valid  tel
                              </div>
                            </div>
                          </div>

                          <div *ngFor="let role of user_roles">
                            <input [(ngModel)]="role.selected" name="{{ role.name }}" type="checkbox" id="{{role.name}}" (change)="onChangeCategory($event, role)">
                            <label class="form-check-label" for="{{role.name}}">
                                {{role.name}}
                            </label>
                        </div>
                          
                        <!---ORGANISATION-->
                        <div class="form-group">
                            <label for="organisationId">Organisation</label>
                            <input
                              type="text"
                              class="form-control"
                              name="organisationId"
                              [(ngModel)]="form.organisationId"
                              required
                              organisationId
                              #organisationId="ngModel"
                            />
                            
                          </div>
        
                
                <div class="form-group">
                  <button class="btn btn-primary btn-block">Sign Up</button>
                </div>
          
                <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                  Signup failed!<br />{{ errorMessage }}
                </div>
              </form>
  
              <div class="alert alert-success" *ngIf="isSuccessful">
                Your registration is successful!
              </div>
  
                <div class="d-flex justify-content-center text-center mt-4 pt-1">
                  <a href="#!" class="text-white"><i class="fab fa-facebook-f fa-lg"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-twitter fa-lg mx-4 px-2"></i></a>
                  <a href="#!" class="text-white"><i class="fab fa-google fa-lg"></i></a>
                </div>
  
              </div>
  
             
              <div>
                <p class="mb-0"> Connect Here if you have already an account <a routerLink="/login" class="text-white-50 fw-bold">Sign In</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  