<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>CelestialUI Admin</title>
    <!-- base:css -->
    <link rel="stylesheet" href="/../assets/back/vendors/typicons.font/font/typicons.css">
    <link rel="stylesheet" href="/../assets/assets/back/vendors/css/vendor.bundle.base.css">
    <!-- endinject --> 
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/../assets/back/css/vertical-layout-light/style.css">
    <!-- endi"images/favicnject -->
    
  </head>
<app-navbaradmin></app-navbaradmin>